### 목차
[1. csv 파일 불러오기 : read_csv()](#1)<br>
[2. 구분자 '|' 인 text 파일 불러오기 : sep='|'](#2)<br>
[3. 파일 불러올 때 index 지정해주기 : index_col](#3)<br>
[4. 변수 이름(column name, header) 이 없는 파일 불러올 때 이름 부여하기](#4)<br>
[5. 유니코드 디코드 에러, UnicodeDecodeError: 'utf-8' codec can't decode byte](#5)<br>
[6. 특정 줄은 제외하고 불러오기: skiprows = [x, x]](#6)<br>
[7. n 개의 행만 불러오기: nrows = n](#7)<br>

### 1
[목차](#목차)<br>
1. csv 파일 불러오기 : read_csv()

In [ ]:
import pandas as pd
import os

csv_test = pd.read_csv('./data/test_csv_file.csv')
# csv_test.shape
csv_test

### 2
[목차](#목차)<br>
2. 구분자 '|' 인 text 파일 불러오기 : sep='|'

In [ ]:
text_test = pd.read_csv('./data/test_text_file.txt', sep='|')
text_test

### 3
[목차](#목차)<br>
3. 파일 불러올 때 index 지정해주기 : index_col

In [ ]:
pd.read_csv('./data/test_text_file.txt', sep='|', index_col=0)
pd.read_csv('./data/test_text_file.txt', sep='|', index_col='ID')

### 4
[목차](#목차)<br>
4. 변수 이름(column name, header) 이 없는 파일 불러올 때 이름 부여하기 
     : names=['X1', 'X2', ... ], header=None

In [ ]:
pd.read_csv('./data/text_without_column_name.txt', sep='|', names=['ID', 'A', 'B', 'C', 'D'], header=None, index_col='ID')

### 5
[목차](#목차)<br>
5. 유니코드 디코드 에러, UnicodeDecodeError: 'utf-8' codec can't decode byte

In [ ]:
f = pd.read_csv('./data/test_csv_file.csv', sep='|', encoding='CP949')
# df = pd.read_csv('./data/test_csv_file.csv', sep='|', encoding='latin')
# df

### 6
[목차](#목차)<br>
6. 특정 줄은 제외하고 불러오기: skiprows = [x, x]

In [ ]:
csv_2 = pd.read_csv("./data/test_csv_file.csv",skiprows = [1, 2])
csv_2

### 7
[목차](#목차)<br>
7. n 개의 행만 불러오기: nrows = n

In [ ]:
csv_3 = pd.read_csv("./data/test_csv_file.csv", nrows = 3)
csv_3

## 8
8. 사용자 정의 결측값 기호 (custom missing value symbols)

In [31]:
df =pd.read_csv('./data/test_text_file.txt',na_values = ['?', '??', 'N/A', 'NA', 'nan', 'NaN', '-nan', '-NaN', 'null'])
df

   ID|A|B|C|D
0  C1|1|2|3|4
1  C2|5|6|7|8
2  C3|1|3|5|7

In [ ]:
## 9
9. 데이터 유형 설정 (Setting the data type per each column)

In [32]:
df = pd.read_csv('./data/test_text_file.txt', dtype = {"ID": int,"LAST_NAME": str,"AGE": float})
df

   ID|A|B|C|D
0  C1|1|2|3|4
1  C2|5|6|7|8
2  C3|1|3|5|7