In [2]:
import pandas as pd

org_data = pd.DataFrame({'info':['삼성전자/3/70000','SK하이닉스/2/100000']})
print(org_data)

              info
0     삼성전자/3/70000
1  SK하이닉스/2/100000

In [ ]:
def code_name(data):
    result=pd.DataFrame(columns=['name','count','price'])
    df = pd.DataFrame(list(data['info'].str.split('/'))) # '/ ' 로 구분하여 문자열을 나누어 리스트에 넣음
    result['name'] = df[0] # 여기엔 첫번째 값인 이름이 입력
    result['count']= df[1] # 여기엔 두번째 값인 수량이 입력
    result['price']= df[2] # 여기엔 세번째 값인 가격이 입력
    result = result.astype({'count':int,'price':int}) # count와 price를 int로 바꿈(기존str)
    return result

In [4]:
print(code_name(org_data))

     name  count   price
0    삼성전자      3   70000
1  SK하이닉스      2  100000

In [ ]:
def value_cal(data,unit=''):
    result = pd.DataFrame(columns=['name','value'])
    result['name'] =data['name'] # 이름은 기존거를 가져옴
    result['value']=data['count']*data['price'] # value는 count * price를 입력함
    result = result.astype({'value':str}) # value를 str로 변경(단위를 붙이기 위함)
    result['value']=result['value']+unit # 단위를 붙임
    return(result)

In [6]:
input = code_name(org_data)
print(value_cal(input,'원'))

     name    value
0    삼성전자  210000원
1  SK하이닉스  200000원

In [7]:
print(value_cal(code_name(org_data),'원'))

     name    value
0    삼성전자  210000원
1  SK하이닉스  200000원

In [8]:
print(org_data.pipe(code_name).pipe(value_cal,'원'))

     name    value
0    삼성전자  210000원
1  SK하이닉스  200000원

In [ ]:
print(org_data.pipe(code_name))

     name  count   price
0    삼성전자      3   70000
1  SK하이닉스      2  100000

: