In [1]:
import pandas as pd
import numpy as np


df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
df

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [ ]:
result = df.loc['row1']
print(result)

In [ ]:
result = df.loc[ ['row1','row3'] ]
print(result)

In [ ]:
result = df.loc['row2', 'col2']
print(result)

In [ ]:
result = df.loc['row1' : 'row3', 'col2']
print(result)

In [ ]:
# bool = [False, True, False] # row2에 대응되는 값만 True
bool = [True, True, False] # row1과 row2에 대응되는 값만 True
result = df.loc[bool]
print(result)

In [ ]:
result = df.loc[ df['col3'] > 5 ]
print(result)

In [ ]:
result = df.loc[ df['col3'] > 5, ['col2'] ]
print(result)

In [ ]:
result = df.loc[lambda df : df['col2'] == 5]
print(result)

In [ ]:
# 값 설정하기
# df.loc['col3'] = df['col3'].astype(str)
df.loc[ ['row1', 'row3'], ['col3'] ] = 'A'
print(df)

In [ ]:
df.loc[ ['row1'] ] = 'A' # 행을 변경할 경우
print(df)

In [ ]:
df.loc[ : , ['col3'] ] = 'B' # 열을 변경할 경우 행을 전체선택 ( : ) 해줍니다.
print(df)

In [5]:
df['col2'] = df['col2'].astype(str)
df.loc[df['col2'] > '3'] = 'A'
print(df)

     col1 col2 col3
row1    1    2    3
row2    A    A    A
row3    A    A    A

##
DataFrame.iloc
iloc 함수는 iat 함수와 같이 정수 기반으로 인덱싱을 합니다.
DataFrame이나 Series형식으로의 반환이 필요하면 iloc를 사용합니다.

In [ ]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [7]:
result= df.iloc[0]
print(result)

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [8]:
result= df.iloc[[0,2]]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

In [9]:
result= df.iloc[1:2]
print(result)

      col1  col2  col3
row2     4     5     6

In [ ]:
bool_list = [True, False, True]
result= df.iloc[bool_list]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

: